@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

body{
  /* background:#be050b; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  margin:0;
  height: 100vh;
  overflow:hidden;
  filter: drop-shadow(0 0 10px white);
}
a{
  text-decoration:none;
}
canvas{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.ground{
  background:#FFF;
  height: 15%;width:100%;
  position:absolute;
  bottom:0px;
  z-index:1;
  border-radius:100% 100% 0 0;
  font-size:10px;
  color:#666;
  display:table;
}
.ground p{
  display: table-cell; 
  vertical-align: middle;
  text-align:center;
  width:100%;
  font-size:30px;
}
.message{
  font-family: 'Mountains of Christmas', cursive;
  font-size: 400%;
  text-align:center;
  color:#FFF;
  margin:40px auto;
  height: 20%
}
.trees{
  background: url(http://www.arasthemes.com/files/xmas/trees.svg) no-repeat center;
  background-size: contain;
  width:100%;
  position:absolute;
  bottom: 18%;
  height: 60%;
}